<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="QATechTesting Test Suite" verbose="1" parallel="tests" thread-count="1" configfailurepolicy="continue">
    <listeners>
        <listener class-name="org.uncommons.reportng.HTMLReporter"/>
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
    </listeners>

    <test name="My tests" annotations="JDK" preserve-order="true">
        <classes>
            <class name="common.TestRunner"/>
        </classes>
    </test>
</suite>